.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.comment-item-container {
  display: flex;
  flex-direction: column;
}

.comment-item-content-container {
  display: flex;
  align-items: center;
  font-family: 'Roboto';
}

.comment-item-author-initial-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.comment-item-author-initial {
  color: #ffffff;
  border-radius: 49%;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.comment-item-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.comment-item-author-and-creation-date-time-container {
  display: flex;
}

.comment-item-author-name {
  color: #1e293b;
  font-size: 1.2rem;
}

.comment-item-time-to-now {
  color: #94a3b8;
  font-size: 0.5rem;
}

.comment-item-comment-text {
  color: #7e858e;
  font-size: 0.8rem;
}

.comment-item-actions-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.comment-item-like-action-container {
  display: flex;
}

.comment-item-like-action-button,
.comment-item-delete-action-button {
  cursor: pointer;
  outline: none;
  border: none;
  background: inherit;
}

.comment-item-like-img {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
}

.comment-item-like-text {
  font-size: 1rem;
  color: #7e858e;
}

.comment-item-liked-text {
  font-size: 1rem;
  color: #0284c7;
}

.comment-item-delete-icon-img {
  height: 1.5rem;
  width: 1.5rem;
}

.horizontal-line-separator {
  border: none;
  border-top: 0.1rem solid #dee0e3;
  width: 100%;
}
